body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;

}

.box {
    text-align: center;
    background-color: rgb(84, 168, 136);
    padding: 22px;
    border-radius: 9px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 25px;
    color: rgb(36, 19, 185);
}

label {
    font-size: 18px;
    color: rgb(119, 18, 18);
}

input[type="number"] {
    margin: 11px;
    padding: 7px;
    border: 2.5px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: red;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: blueviolet;
}

#password-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

#generiertesPW {
    font-size: 16px;
    color: blueviolet;
    border: 5px solid #ccc;
    padding: 10px;
    font-weight: bold;
}

#pw_length {
    font-weight: bold;

}